# App
NODE_ENV=development
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=inventory_user
DB_PASSWORD=secret
DB_NAME=inventory_db

# Redis (опционально для кэша)
REDIS_HOST=localhost
REDIS_PORT=6379